<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
        <div class="mb-10">
            <a class="text-blue-600 underline" href="/">Back To Home</a>
        </div>

        <h1 class="text-3xl tracking-tighter mb-3  lg:text-center mb-3 sm:pl-2 text-center">All Users</h1>

        <div class="users grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

            <% if(users.length>0){ %>
                <% users.forEach(function(user){ %>
                    <div class="w-full p-3 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-zinc-500 rounded-lg mb-3 overflow-hidden">
                            <img class="h-full w-full object-cover object-center" src="<%= user.image %>" alt="" title="<%= user.name %>">
                        </div>
                        <h2 class="text-2xl font-bold tracking-tighter"><%= user.name %></h2>
                        <h4 class="text-xl text-zinc-400 tracking-tighter"><%= user.email %></h4>
                        <div class="flex justify-between mt-5">
                            <a class="text-zinc-500 underline" href="/edit/<%=user._id%>">Edit user</a>
                            <a class="text-red-800 underline" href="/delete/<%=user._id%>">Delete user</a>
                        </div>
                    </div>
                <% }) %>
            <% } else{ %>
                <p class="text-xl text-zinc-400 tracking-tighter">No user yet.</p>
            <%}%>


        </div>

    </div>


    <!--<div class="w-72 p-3 bg-zinc-800 rounded-lg">
        <div class="w-full h-52 bg-zinc-500 rounded-lg mb-3"></div>
        <h2 class="text-2xl font-bold   tracking-tighter">Sonu</h2>
        <h4 class="text-xl text-zinc-400 tracking-tighter">sb9432024@gmail.com</h4>
        <div class="flex justify-between mt-5">
            <a class="text-zinc-500 underline"href="">Edit</a>
            <a class=" text-red-800 underline"href="">Delete</a>
        </div>
    </div>-->
</body>
</html>